body {
  padding: 30px;
  margin-top: 50px;
  background-color: black;
}

.App {
  width: 30%;
  margin: auto;
  border: 1px solid gray;
  padding: 30px;
}

.show_data{
  text-align: right;
  font-size: 30px;
  padding: 30px;
  color: white;
}

.btns{
  display: flex;
  justify-content: center;
}

.left_btns {
  display: flex;
  flex-direction: column;
}

.number_btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.number_btn {
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  border: none;
  background-color: rgb(59, 59, 59);
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.sign_btns{
  display: flex;
  flex-direction: column;
}

.sign_btn{
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  border: none;
  background-color: orange;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.function_btns{
  display: flex;
  justify-content: start;
}

.function_btn {
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  border: none;
  background-color: orange;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}