body {
  padding: 30px;
  background-color: black;
}

.App {
  width: 350px;
  margin: auto;
  border: 1px solid darkgray;
  border-radius: 8px;
  padding: 50px;
}

.show_data {
  text-align: right;
  font-size: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.Calculator {
  color: white;
  font-size: 30px;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 30px;
}

.btns {
  display: flex;
  justify-content: center;
}

.left_btns {
  display: flex;
  flex-direction: column;
}

.number_btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.number_btn {
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  border: none;
  background-color: rgb(59, 59, 59);
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-align: center;
}

.number_btn:hover {
  background-color: #cacaca;
  color: black;
}

.number_btn:active {
  background-color: #7a7a7a;
  color: white;
}

.sign_btns {
  display: flex;
  flex-direction: column;
}

.sign_btn {
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  border: none;
  background-color: #ff9500;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-align: center;
}

.sign_btn:hover,
.function_btn:hover {
  background-color: #ffc573;
  color: black;
}

.sign_btn:active,
.function_btn:active {
  background-color: #b36800;
  color: white;
}

.function_btns {
  display: flex;
  justify-content: start;
}

.function_btn {
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  border: none;
  background-color: #ff9500;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-align: center;
}

